<h1>Editing product order</h1>

<%= render "form", product_order: @product_order %>

<br>

<div>
  <%= link_to "Show this product order", @product_order %> |
  <%= link_to "Back to product orders", product_orders_path %>
</div>
