<div id="<%= dom_id address %>">
  <p>
    <strong>Street address:</strong>
    <%= address.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= address.postal_code %>
  </p>

</div>
