/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* app/assets/stylesheets/employees.css */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#tables {
    margin-top: 20px;
}

/* Restaurant styling */

.restaurant-container p {
    margin-bottom: 10px;
    font-size: 14px;
}

.restaurant-container strong {
    font-weight: bold;
}

.restaurant-container p:last-child {
    margin-bottom: 0;
}

.restaurant-container .active-yes {
    color: green;
}

.restaurant-container .active-no {
    color: red;
}

/* Active */


.active {
    background-color: green;
    color: white;
}

.inactive {
    background-color: red;
    color: white;
}